:root.theme-dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor: #000028;
  --menu-item-color: #ff0070;
  --hover-border: #ff007066;
  --menu-text-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}
