:root.theme-light {
  --title-decor: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --menu-item-color: #353430;
  --title-color: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --hover-border: #32312d66;
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --hover-border: #32312d66;
    --title-decor: #353430;
    --menu-item-color: #353430;
    --hover-border: #353430;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
  }
}
